# Interacting With Databases

pandas has some functions to simplify the loading of results of SQL queries into a DataFrame.  

First, create a SQLite3 database:

In [20]:
import sqlite3
import pandas as pd

In [21]:
# Make a query
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL,        d INTEGER
);"""

# Create a connection
con = sqlite3.connect("../../examples/mydata.sqlite")

# Execute the query
con.execute(query)

# commit it
con.commit()

# Insert some data
data = [("Atlanta", "Georgia", 1.25, 6),
        ("Tallahassee", "Florida", 2.6, 3),
        ("Sacramento", "California", 1.7, 5)]

# Statement?
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

# Execute again
con.executemany(stmt, data)

# Commit again
con.commit()

In [22]:
# Create a selection
cursor = con.execute("SELECT * FROM test")

# Assign to an object with fetchall
rows = cursor.fetchall()
print(type(rows))
rows

<class 'list'>

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

Have a list of tuples now. Also need to get the column names

In [23]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

Have to get just the first element of that:

In [24]:
[x[0] for x in cursor.description]

['a', 'b', 'c', 'd']

Put it all together:

In [25]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

SQLAlchemy is a Python SQL toolkit that makes all of this easier. 

pandas has `read_sql` which can read data from a general SQLAlchemy connection

In [26]:
import sqlalchemy as sqla

In [27]:
# Create engine
db = sqla.create_engine("sqlite:///../../examples/mydata.sqlite")

In [28]:
# Read using selector
pd.read_sql("SELECT * FROM test", db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5